.jumbotron {
	margin: 0px;
	padding: 0px;
	height: 450px;
	background-image: url("../images/newspaper.png");
	border-radius: 0;
}
.header-text {
	padding-top: 175px;
	font-size: 2.5rem;
	font-weight: 600;
	color: white;
}
.lead {
	font-weight: 400;
}
.articles {
	margin-bottom: 20px;
}

#headerImg {
	overflow: hidden;
	/* height: 450px; */
	z-index: -1;
}
#scrape {
	padding: 10px 20px;
}
.news-card {
	width: 25rem;
	height: 25rem;
	float: left;
	margin-left: 35px;
	margin-top: 25px;
	clear: right;
}
.news-card:hover {
	cursor: pointer;
}
.card-footer {
	padding: 0;
}
.saved-button {
	width: 50%;
	float: left;
}
.footer {
	clear: both;
	width: 100%;
	height: 50px;
	margin-top: 43px;
	float: left;
	padding: 10px;
}
